{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

   <h1> Bonjour, {{ app.user.firstName }} - {{ app.user.name }}</h1> 
   <p>{{ app.user.email }}</p>

   <a class="btn btn-info" href="{{ path('app_home_magazine') }}"> Liste des Magazines</a>

{% endblock %}
